[Unit]
Description=Remote Lights Service

[Service]
User=pi
ExecStart=/usr/bin/python3 /home/pi/Repos/remote-lights/lights.py
WorkingDirectory=/home/pi/Repos/remote-lights

[Install]
WantedBy=multi-user.target
